* {
	box-sizing: border-box;;
}
body {
	background-image: url("../images/texturetastic_gray.png");
}
.navbar-brand {
	background: #4aaaa5;
	padding: 20px;
	border: 1px solid #cccccc;
	color: white;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.navbar {
	margin-bottom: 0px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: 40px;
}
.blog-main {
	font-size: 18px;
	line-height: 1.5;
	background-color: #ffffff;
}
.blog-post {
	margin-bottom: 60px;
}
.blog-post img {
	margin-right: 20px;
}
.blog-post-title {
	margin-bottom: 5px;
	font-size: 40px;
}
h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}
.thumbnail {
	position: relative;
	padding: 0;
}
.caption {
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	background: #4aaaa5;
	margin: 0;
}
.blog-sidebar {
	text-align: center;
	margin: 0;
	padding: 0;
	float: right;
}
.panel {
	margin-bottom: 0;
}
.footer {
	text-align: center;
	background-color: #666666;
	border-top: 3px solid #4aaaa5;
	padding: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: fixed;
	bottom: 0;
	width: 100%;
}
@media screen and (max-width: 991px) {
  	.blog-main {
  		margin-bottom: 40px;
  	}
}
@media screen and (max-width: 768px) {
	.navbar-brand {
		width: 100%;
	}
	.nav>li {
		width: 30%;
		text-align: center;
		float: left;
	}
	.thumbnail a>img, .thumbnail>img {
		margin: 0;
		width: 100%;
	}
	.blog-main {
		margin-left: 2%;
		width: 96%;
	}
	.blog-sidebar {
		width: 96%;
		margin-right: 2%;
	}
}


